<p id="notice"><%= notice %></p>
<div class = "row">
<div class = "col-8 offset-2">
  <strong>Title:</strong>
  <%= @post.title %>
</div>
<div class ="col-8 offset-2">
  <strong>Content:</strong>
  <%= markdown(@post.content) %>
</div>
<div class ="col-8 offset-2">
  <strong>Thumbnail image:</strong><br>
  <% if @post.thumbnail_image.attached? %>
    <%= image_tag @post.thumbnail_image, size: '100x100' %>
  <% end %>
</div>
<div class ="col-8 offset-2">
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>
</div>
